.comic-reader-minimizer {
  border-left: 1px solid var(--nav-border-color);
  border-right: 1px solid var(--nav-border-color);
  width: var(--nav-button-width);
  height: var(--nav-button-height);
  opacity: 1;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.comic-reader-minimizer:active {
  transition-duration: 0.1s;
  opacity: 0.5;
}

.comic-reader-minimizer-icon {
  grid-area: pageToggle;
  background-size: 25px 50px;
  height: 25px;
  width: 25px;
  /* TODO:  Refactor to remove relative position.   Use center */
  position: relative;
  left: 25%;
}
