.comic-reader--pages-container {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  height: var(--nav-pages-height);
}

.comic-reader--pages-container img {
  position: relative;
  max-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px;
  min-width: none;
  max-width: none;
  margin-top: auto;
  margin-bottom: auto;
}

.comic-reader--pages {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: center;
}

.comic-reader--pages-overlay {
  filter: grayscale(100%);
  background: rgba(41, 171, 213, 0.7);
  border: 2px solid rgb(41, 171, 213);
}
